# .editorconfig (https://editorconfig.org)
root = true

# Default config
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space

[*.{js,jsx,ts,tsx,json,yaml,yml}]
indent_size = 2

[*.{py,pyc}]
indent_size = 4
